appnope==0.1.0
dateparser==0.3.0
decorator==4.0.2
gnureadline==6.3.3
ipython==4.0.0
ipython-genutils==0.1.0
jdcal==1.0
Jinja2==2.8
MarkupSafe==0.23
openpyxl==2.2.5
parsedatetime==1.5
path.py==7.6
pexpect==3.3
pickleshare==0.5
py==1.4.30
pytest==2.7.2
python-dateutil==2.4.2
PyYAML==3.11
pyzmq==14.7.0
simplegeneric==0.8.1
six==1.9.0
traitlets==4.0.0
xlrd==0.9.4
